{% extends 'app/basic.html' %}
{% block content %}
<style>
.profili{
    padding-left: 20px;
}
.dove{
    padding-left: 100px;
}
.info{
    margin:60px 0px 0px 20px;

}
.head{
    padding-left: 20px;
}
</style>

<div class="info">
    <h1 class="head">Contatti :</h1>
    <h2 class="profili"><a href="https://profs.sci.univr.it/~bicego/">Manuele Bicego</a> : manuele.bicego@univr.it</h2>
    <h4 class="dove">Ca' Vignal 2,  Piano 1,  Stanza 55</h4>
    <h2 class="profili"><a href="http://www.pietrolovato.info/index.html">Pietro Lovato</a> : pietro.lovato@univr.it </h2>
    <h4 class="dove">                Ca' Vignal 2,  Piano 0,  Stanza 112</h4>
    <h3 class="profili">Marco De Bona : marco.debona@studenti.univr.it</h3>
    <h3 class="profili">Giovanni Alberto Beltrame : giovannialberto.beltrame@studenti.univr.it</h3>
</div>

{% endblock %}

