{% extends 'app/basic.html' %}
{% block content %}
<center>
        <div class="container" id="algo">

            <div class="col-sm-6">
                <center>
                    <h2><strong>BAG OF</strong></h2>
                    <h2><strong>PEAKS</strong></h2>
                </center>

            </div>
            <div class="col-sm-6">
                <center>
                    <h2><strong>PROBABILISTIC LATENT</strong></h2>
                    <h2><strong>SEMANTIC ANALYSIS</strong></h2>
                </center>
            </div>
        </div>
        <div class="container">

            <div class="col-sm-6">
                <center>
                    <h4>Caratterizzazione delle</h4>
                    <h4>tracce NMR basata</h4>
                    <h4>sull'occorrenza dei picchi</h4>
                    <a href="BOP.html"> <button class="pulsante">Inizia!</button></a>
                </center>

            </div>
            <div class="col-sm-6">
                <center>
                    <h4>Analisi dei topic presenti</h4>
                    <h4>nella rappresentazione </h4>
                    <h4>a Bag Of Peaks</h4>
                    <a href="PLSA.html".html"> <button class="pulsante">Inizia!</button></a>
                </center>
            </div>
        </div>
        </div>
</center>
{% endblock %}